@import "./variables";
@import "./mixins";

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto Slab", serif;
  background-color: lightgrey;
}

.blog-page-container {
  .navbar-container {
    @include navbar-top;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: transparent;
    font-family: $roboto-font;
    padding-top: 10px;
    background-color: white;
    padding-bottom: 15px;

    .navbar-brand {
      font-weight: 100;
      font-size: 24px;
      color: white;
    }
    .navbar-links-container {
      a {
        color: grey;
        text-decoration: none;
        font-size: 12px;
        padding: 5px;
      }

      :nth-child(3) {
        color: $pink-color;
      }

      :nth-child(4) {
        background-color: $pink-color;
        color: white;
        border-radius: 100px;
        padding: 20px 25px;
      }
    }
  }

  .gradient-section {
    background: linear-gradient(
      45deg,
      rgba(168, 29, 132, 1) 0%,
      rgb(234, 57, 111) 100%
    );
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      margin: auto;
      font-size: 40px;
      color: white;
      font-family: $roboto-font;
    }
  }

  .main-section-container {
    position: relative;
    width: 90%;
    background-color: white;
    margin: auto;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
      width: 50%;

      h6 {
        @include blog-header(purple);
      }
      .lightblue {
        color: turquoise;
      }
      .red {
        color: red;
      }
      .orange {
        color: orange;
      }
      .pink {
        color: pink;
      }
      .green {
        color: green;
      }
    }

    h1 {
      font-size: 20px;
    }

    span {
      color: grey;
      font-size: 12px;
      font-weight: 100;
    }
    p {
      font-size: 13px;
      font-weight: 200;
    }
  }
  .footer-container {
    position: relative;
    width: 100%;
    bottom: -50px;
    margin: auto;
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
      padding-left: 150px;
      a {
        padding: 10px;
        @include link-tag;
        width: 90vw;
      }
    }
  }
}
